

.profile_container {
  width: 100%;
  height: 1020px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #212526ff;
  animation: background_color 2s;
  flex-wrap: wrap;

  .section_container {
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }

  .profile_wrap {
    animation: wrap_animation 2s;
    font-size: 20px;
    line-height: 510px;
    justify-content: center;
    text-align: center;
  }
  .progressbar__text {
    position: absolute;
    top: 50%;
    padding: 0.25em 0.5em;
    color: hsl(0, 0%, 100%);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .section_unline {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: flex;
  }
}

.section_profile {
  width: 300px;
  height: 100px ;
  display: flex;
  flex-wrap: wrap;
}

.section_profile2 {
  display: flex;
  flex-wrap: wrap;
}


.section_profile[data-v-4d8cbf84] {
  width: auto;
  float: left;
}

.profile_list {
  padding: 50px;
}
@keyframes background_color {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  20% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  100% {
    background-color: #212526ff;
  }
}
@keyframes wrap_animation {
  0% {
    posiiton: relative;
    opacity: 0;
    padding-top: 50px;
  }
  100% {
    opacity: 1;
  }
}

$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$color-html: hsl(15, 100%, 60%);
$color-css: hsl(200, 100%, 60%);
$color-scss: hsl(300, 100%, 60%);
$color-js: hsl(60, 100%, 60%);
$color-ts: hsl(220, 100%, 60%);
$color-node: hsl(110, 100%, 60%);
$color-react: hsl(180, 100%, 60%);
$color-angular: hsl(0, 100%, 60%);
$color-vue: hsl(145, 100%, 60%);

$porcent-html: 100;
$porcent-css: 100;
$porcent-scss: 100;
$porcent-js: 100;
$porcent-ts: 100;
$porcent-node: 100;
$porcent-react: 100;
$porcent-angular: 100;
$porcent-vue: 100;

@function strokeDashoffset($num) {
  @return 440 - (440 * $num) / 100;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  transform: translate(5px, 5px); // stroke-width / 2
}

.shadow {
  &-html {
    filter: drop-shadow(0 0 5px $color-html);
  }
  &-css {
    filter: drop-shadow(0 0 5px $color-css);
  }
  &-scss {
    filter: drop-shadow(0 0 5px $color-scss);
  }
  &-js {
    filter: drop-shadow(0 0 5px $color-js);
  }
  &-ts {
    filter: drop-shadow(0 0 5px $color-ts);
  }
  &-node {
    filter: drop-shadow(0 0 5px $color-node);
  }
  &-react {
    filter: drop-shadow(0 0 5px $color-react);
  }
  &-angular {
    filter: drop-shadow(0 0 5px $color-angular);
  }
  &-vue {
    filter: drop-shadow(0 0 5px $color-vue);
  }
}

.circle {
  &-html {
    animation: anim_circle-html 1s ease-in-out forwards;
  }
  &-css {
    animation: anim_circle-css 1s ease-in-out forwards;
  }
  &-scss {
    animation: anim_circle-scss 1s ease-in-out forwards;
  }
  &-js {
    animation: anim_circle-js 1s ease-in-out forwards;
  }
  &-ts {
    animation: anim_circle-ts 1s ease-in-out forwards;
  }
  &-node {
    animation: anim_circle-node 1s ease-in-out forwards;
  }
  &-react {
    animation: anim_circle-react 1s ease-in-out forwards;
  }
  &-angular {
    animation: anim_circle-angular 1s ease-in-out forwards;
  }
  &-vue {
    animation: anim_circle-vue 1s ease-in-out forwards;
  }
}