html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: SBAggro, Helvetica, serif
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

nav a.router-link-exact-active {
    color: #42b983;
}

.HeaderMain > li {
    list-style: none;
    color: #23633f;
    margin: 0 20px;
}

.HeaderMain {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    background-color: white;
    position: relative;
    z-index: 99;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.2s ease-in;
}

.slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}
